*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --accent: rebeccapurple;
    accent-color: var(--accent);

    font-family: "IBM Plex Sans";
    font-optical-sizing: auto;

    --text: black;
    --bg: white;
    --bg-dim: #f2eeee;
    --bg-dimmer: #e5dddd;

    --input-bg-light: rgb(30% 20% 20% / 0.1);
    --input-dim-light: rgb(30% 20% 20% / 0.2);
    --input-bg-dark: rgb(80% 80% 90% / 0.2);
    --input-dim-dark: rgb(70% 70% 80% / 0.35);

    --input-bg: var(--input-bg-light);
    --input-dim: var(--input-dim-light);
    --input-shadow-color: rgb(30% 20% 20% / 0.075);
    --input-shadow-color-active: rgb(35% 25% 25% / 0.15);
}

body {
    margin: 0;
    padding: 0;
    color: var(--text);
}

.dark {
    --text: white;
    --bg: #22222f;
    --input-bg: var(--input-bg-dark);
    --input-dim: var(--input-dim-dark);
}

button:not(.raw) {
    font: inherit;
    color: var(--text);

    background-color: var(--input-bg);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;

    transition:
        box-shadow 0.1s ease-out,
        background-color 0.1s ease-out;

    &.flat {
        border: none;
        background-color: transparent;

        &:hover {
            background-color: var(--input-bg);
        }

        &:active {
            background-color: var(--input-dim);
        }
    }

    &:not(.flat) {
        border: 1px solid var(--input-dim);
        border-bottom-width: 2px;
        box-shadow: 0px 2px 4px 2px var(--input-shadow-color);

        &:hover {
            box-shadow: 0px 1px 4px 2px var(--input-shadow-color-active);
        }

        &:active {
            border-bottom-width: 1px;
            margin-top: 1px;
        }
    }

    &:has(.material-symbols-rounded) {
        display: grid;
        place-items: center;
        padding: 0.25em;
    }
}

input[type="text"] {
    font: inherit;
    padding: 0.25em;
    border-radius: 0.25em;
    border: 1px solid var(--input-dim);
    box-shadow: 0px 2px 4px 1px var(--input-shadow-color);
    outline: 2px solid transparent;

    transition:
        box-shadow 0.1s ease-out,
        outline-color 0.1s ease-out;

    &:hover {
        box-shadow: 0px 1px 4px 2px var(--input-shadow-color-active);
    }

    &:focus-visible {
        outline: 2px solid var(--accent);
    }

    &:invalid {
        outline: 2px solid tomato;
    }
}

.material-symbols-rounded {
    user-select: none;
}
